body{
          background-image: url("../071A2859.JPG");
          background-size: cover;
}

button{
            font-size: 15px;
            font-family: sans-serif;
            width: 120px;
            height: 40px;
            text-align: center;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border: 1 px;
            border-color: orange;
            border-radius: 30px;

}

a{
    text-decoration: none;
    color:orange;
    font-family: ;
}

@font-face {
  font-family: 'onefont';
  src: url('Dosist.ttf') format('truetype');
}

@font-face {
  font-family: 'twofont';
  src: url('BebasNeue.ttf') format('truetype');
}


.div0{

}

.div1{
font-family:  'Crimson Pro', serif;
margin: 30px 0 30px 0;
}